<a href="https://colab.research.google.com/github/DiegoRoyGulytMamaniChura/Bootcamp_DSRP/blob/main/3_Tipos_de_datos_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

STRING(str)=TEXTO

In [ ]:
nombre="ROBERTO" #DOBLE COMILLA
nombre2='ROBERTO' #UNA COMILLA

#Se puede colocar "" o '', las dos funcionan de la misma manera, recomiendo usar ""

print("mi nombre es:", nombre)
#Comando Type, lo que permite saber es que tipo de variable es:
print(type(nombre))

mi nombre es: ROBERTO
<class 'str'>

COSAS PARTICULARES

In [ ]:
#CONCATENAR
nombre="Diego"
apellido="Mamani"

nombre_completo= nombre + apellido
print(nombre_completo)

nombre_completo2=nombre+ " "+apellido
print(nombre_completo2)

#Formato 1
formato1="Hola mi nombre es: "+nombre + " y mi apellido es: "+ apellido

print("formato 1 : "formato1)

# Formato 2
formato2 = "hola mi nombre es {}  y mi apellido es {}" .format(nombre, apellido)

print

DiegoMamani
Diego Mamani

INT=NUMERO ENTEROS

In [ ]:
#Los n√∫meros enteros se refiere a que tiene decimales, como edad y cantidad

edad=27
cantidad=20

print("mi edad es:", edad)
print(type(edad))

print("mi cantidad es:", cantidad)
print(type(cantidad))

mi edad es: 27
<class 'int'>
mi cantidad es: 20
<class 'int'>

In [ ]:
numero1=3.14151618
numero2=0.01524

print("el valor de pi es:", numero1)
print(type(numero1))
print("el valode del numero es:", numero2)
print(type(numero2))

el valor de pi es: 3.14151618
<class 'float'>
el valode del numero es: 0.01524
<class 'float'>

TRABAJO CON NUMEROS

In [ ]:
#SUMA UNA EDAD:
edad1=15
edad2=30

print(f"Formato 3: La suma de edad es {edad1+edad2}")

Formato 3: La suma de edad es 45

In [ ]:
var1=3.25
var2=5.55
var3=8.47

x=var1*var2*var3

print(x)

# NOSOTROS PODEMOS MULTIPLICAR INT(ENTEROS)

152.777625

BOLEANOS(bool) true o fals

In [ ]:
boleano1= True
boleano2= False

print("el boleano 1 es:", boleano1)
print(type(boleano1))

print("el boleano 2 es:", boleano2)
print(type(boleano2))

el boleano 1 es: True
<class 'bool'>
el boleano 2 es: False
<class 'bool'>

INPUT

In [ ]:
#La funcion input nos permite ingresar datos a la consola
#Ejemplo 1:

nombre=input("ingrese el nombre: ")
print("el nombre ingresado es: ", nombre)

numero=input("ingrese el numero: ")
print("el numero ingresado es: ", numero)
print(type(numero))

ingrese el nombre: dEGO
el nombre ingresado es:  dEGO
ingrese el numero: 5
el numero ingresado es:  5
<class 'str'>

In [ ]:
#FUNCIONES , int() y float()
#Ejemplo-int