<a href="https://colab.research.google.com/github/DiegoRoyGulytMamaniChura/Bootcamp_DSRP/blob/main/7_funciones_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FUNCIONES



*   Una función es una forma de agrupar código que realiza una tarea específica en un bloque reutilizable.
*   Puedes pensar en una función como una "máquina" pequeña: le das ciertas "materias primas" (que en términos de programación llamamos argumentos o parámetros), la "máquina" hace algo con ellas y luego devuelve un "producto" (que llamamos valor de retorno o resultado).

In [ ]:
def <nombre_funcion>(<parametros>): # Aqui cocolas el nombre de la funcion y los parametros
  <cuerpo>                          # Codigo de la funcion
  return <expresion>                # Valor del retorno, no todas las funciones retornan algo

In [ ]:
#Agregando una condición IF para que no ingresen numeros menores a cero:
def area_tri(base, altura):
  if base <=0 or altura <=0:
    return print("los numeros ingresados deben ser mayores que 0")
  area=(base*altura)/2
  return print("El área del triángulo es  :",area)

area_tri(-10,10)

los numeros ingresados deben ser mayores que 0

In [ ]:
#Ejemplo Simple:

def suma(a, b):
  total = a+b
  return print("resultado de la suma :",total)

In [ ]:
suma(3,5)

resultado de la suma : 8

In [ ]:
#Ejemplo Practica:

"""
Haga una funcion que calcule el area de un triangulo: a*b/2
"""
def area_tri(base, altura):
  area = (base*altura)/2
  return print("El área del triángulo es  :",area)

area_tri(4, 5)

El área del triángulo es  : 10.0

In [ ]:
area_tri(4, -5)

El área del triángulo es  : 10.0

In [ ]:
def AreaDeltriangulo(b, h):
  if b>0 and h>0:
    area = (b*h)/2
    return print("resultado de la suma :",area)
  else:
    print('valor ingresado incorrecto')

AreaDeltriangulo(-3, 5)

valor ingresado incorrecto

In [ ]:
#Agregando una condición IF para que no ingresen numeros menores a cero:

def areaT(a,b):
  if a <= 0 or b <=0:
    return ("Ingrese valores mayores q 0")
  else:
    area = (a*b)/2
    return print(f"El area del trinagulo es: {area}")

areaT(20,5)

El area del trinagulo es: 50.0

In [ ]:
def triangleArea(altura,base):
  print((altura*base)/2
        if altura >0 and base>0
        else 'No puede ingresar numeros negativos' )

triangleArea(8,7)

28.0

In [ ]:
"""
Haga una funcion que calcule el area de un triangulo:
"""
def area_triangulo(b, h):
  a = b*h/2
  return print("resultado de la suma :",a)

area_triangulo(10,6)

resultado de la suma : 30.0

In [ ]:
#Ejemplo extra:

def nombre_completo(nombre, apellido, inverso=True):
  if inverso:
    return print(f"Mi nombre completo es: {nombre} {apellido}")
  else:
    return print(f"Mi nombre completo es: {apellido} {nombre}")

nombre_completo("Luis","Peche", inverso=False)
nombre_completo("Luis","Peche", inverso=True)

Mi nombre completo es: Peche Luis
Mi nombre completo es: Luis Peche

In [ ]:
#Ejemplo de estadisticas basicas

def estadisticas_basicas(lista_numeros):
    # Calculando suma
    suma_total = sum(lista_numeros)

    # Calculando promedio
    promedio = suma_total / len(lista_numeros)

    # Encontrando el valor mínimo
    minimo = min(lista_numeros)

    # Encontrando el valor máximo
    maximo = max(lista_numeros)

    # Ordenando la lista en orden ascendente
    orden_asc = sorted(lista_numeros)

    # Ordenando la lista en orden descendente
    orden_desc = list(reversed(orden_asc))

    print(f"Suma total: {suma_total}")
    print(f"Promedio: {promedio}")
    print(f"Mínimo: {minimo}")
    print(f"Máximo: {maximo}")
    print(f"Orden Ascendente: {orden_asc}")
    print(f"Orden Descendente: {orden_desc}")

# Testeando la función con una lista de números
estadisticas_basicas([23, 45, 67, 12, 34, 89, 21])

Suma total: 291
Promedio: 41.57142857142857
Mínimo: 12
Máximo: 89
Orden Ascendente: [12, 21, 23, 34, 45, 67, 89]
Orden Descendente: [89, 67, 45, 34, 23, 21, 12]

In [ ]:
def cambio_moneda(Monto_soles,TC_SBS):
    if Monto_soles > 0 or TC_SBS > 0:
        monto_USD = round(Monto_soles /TC_SBS,2)
        return print("Su monto en DÓLARES AMERICANOS ES: ", monto_USD, "USD")

In [ ]:
Monto_soles = float(input("Ingrese Soles: "))
TC_SBS = float(input("Ingrese TC: "))

print (cambio_moneda(Monto_soles,TC_SBS))

Ingrese Soles: 1000
Ingrese TC: 3.68
Su monto en DÓLARES AMERICANOS ES:  271.74 USD
None